<%- include('templates/header'); -%>

<%  
function format_date(current_datetime){
    return current_datetime.getDate() + "/" + (current_datetime.getMonth() + 1) + "/" + current_datetime.getFullYear();
}
%>
<section class="page-top-section set-bg" data-setbg="img/page-top-bg/4.jpg">
    <div class="container">
        <h2>About Me</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="/">Home</a>
            <span class="sb-item active">History</span>
        </nav>
    </div>
</section>

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group">
                    <a href="/aboutMe" class="list-group-item list-group-item-action">Thông Tin Cơ Bản</a>
                    <a href="/savings" class="list-group-item list-group-item-action">Tài Khoản Tiết Kiệm</a>
                    <a href="/internal" class="list-group-item list-group-item-action">Chuyển Tiền Nội Bộ</a>
                    <a href="/transfer" class="list-group-item list-group-item-action">Chuyển Tiền Liên Ngân Hàng</a>
                    <a href="/history" class="list-group-item list-group-item-action active">Lịch Sử</a>
                    <!-- <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="false">Vestibulum at eros</a> -->
                </div>
            </div>
            <div class="col-lg-9">
                
                    <div><h2 style="padding-bottom: 50px;">History</h2></div>
                    <% if(giaodichs.length != 0){ %>

                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Số Tài Khoản</th>
                            <th scope="col">Loại Tài Khoản</th>
                            <th scope="col">Hình Thức Chuyển tiền</th>
                            <th scope="col">Số Tiền</th>
                            <th scope="col">Đơn Vị Tiền tệ</th>
                            <th scope="col">Ngày Chuyển</th>
                          </tr>
                        </thead>
                        <tbody>
              
              
                          <% giaodichs.forEach(function(giaodich, index){ %>
                          <tr>
                            <th scope="row"><%= index %></th>
                            <td><%= giaodich.SoTaiKhoan %></td>
                            <td><%= giaodich.TenLoaiTaiKhoan %></td>
                            <td><%= giaodich.TenLoaiHinhThuc %></td>
                            <td><%= giaodich.SoTienGiaoDich %></td>
                            <td><%= giaodich.DonViTienTe %></td>
                            <td><%= format_date(giaodich.NgayThucHien)%></td>
                          </tr>
                          <% }); %>
              
              
                        </tbody>
                      </table>
                      <% } else { %>
                      <p>Hiện Tại DLLN Bank Chưa Có Bất Kì Giao Dịch Nào</p>
                      <% } %>
                      
                      
                
            </div>
        </div>
    </div>
</section>

<%- include('templates/footer'); -%>